.iconContainer {
  text-align: center;
  flex: 0 0 30px; 
  margin-right: 10px; 
}

.iconContainer svg {
  width: 7em; 
  height:7em; 
  ;
  
}

.flagIconContainer {
  display: flex;
  border-radius: 50%;
  height: 4em;
  width: 4em;


}

body {
  background-image:url("https://images.unsplash.com/photo-1530293959042-0aac487c21e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"); 
  font-family: Arial, sans-serif; 
  background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  height: 100%;
	margin: 0;
	background-image: linear-gradient(to bottom right,#03045e,#023e8a, #0077b6, #0096c7, #00b4d8, #48cae4, #90e0ef, #ade8f4, #caf0f8);  
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
  position: relative;
	width:99.2%;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid #fffa;
	border-left: 10px solid #fffa;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}




a:visited
{
  color: black;
}

*{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 600;
  text-decoration: none;
  }
 




