.iconContainer {
  text-align: center;
  flex: 0 0 30px; 
  margin-right: 10px; 
}

.iconContainer svg {
  width: 7em; 
  height:7em; 
  ;
  
}

.flagIconContainer {
  display: flex;
  border-radius: 50%;
  height: 4em;
  width: 4em;


}



body {
  background-color: #b0cee3fd; 
  font-family: Arial, sans-serif; 
}



